@charset "utf-8";
h1 {
	font-family: MrsEaves, georgia, serif;
	font-weight: normal;
	font-style: italic;
	font-size: 36px;
	lime-height: 1.5;
	text-transform: uppercase;
	letter-spacing:.1em;
	color: black
}
